{% extends "base.html" %}

{% block PageTitle %}
<h2>About Myself</h2>
{% endblock PageTitle %}

{% block MainContent %}
 <div class = "General Info">
  <h3>
    General Info
  </h3>
  <p>
    I am studying at Kalamazoo Vally Community College for an associate in CIS(Computer Information Science). Since middle school, I have learned I
     have a talent for understanding and creating video games. This later turned into me being able to pick up coding relatively easily and ever
     since then, I have been learning more about coding while doing smaller projects and games at home as a hobby. I am excited about this class
     since this can be considered an experience that can help me get an internship, I have been working at Walmart for the past few years, and while
     I enjoy most of my coworkers, I do not want to end up working there for the rest of my life as I know that I have more to offer then stocking shelves.
  </p>
 </div>

 <div class = "Future_Plans">

  <h3>
    Plans for the future
  </h3>

<p>
  I don't know what the future has in store for me, but I do know a few things I would like to have done. After college, my high school sweetheart would like to get married, she is an amazing person and I want to better myself for her every day. I am getting the experience needed for a remote job at home that way I can be around my family when they need me once I have found a place to settle down. Programming as a field is huge, and so are so many options it is hard to know where and what suits each person but I am confident, god willing, that I will find some things that suit me. My faith is also very important to me, at the end of the day I can always rely on god so in the future I am hoping that I can do something for him as well.
</p>

 </div>

 <div class = "Intersting_Hobbies">
  <h3>
    Interesting Hobbies
  </h3>
  <ul>
    <li>Mead Making (Honey Wine)</li>
    <li>Camping & general out doors stuff, was in BSA (Boy Scouts Of America) for 11 years 7-18</li>
    <li>Video Games , I enjoy having game nights with my friends</li>
    <li>Enjoy learning different languages, currently learnig spanish and hebrew (evrit ze kasha)</li>
  </ul>
 </div>
{% endblock MainContent %}