{% extends "base.html" %}

{% block PageTitle %}

<h2>Previous projects I have worked on</h2>

{% endblock PageTitle %}

{% block MainContent %}
<div>
  <h3>Search Text File</h3>
  <p>This program allows the user to open the terminal and input the desired text and
    the desired file to be read from, after this, simple open the program within the terminal
    and the program will search the file for the text inputted as one of the arguments
  </p>
  <details open>
  <artical>
   <pre>
    # Caleb L Taylor
    # 1/17/2024
    # CRN: 23199
    # Class name: CIS 226: Advanced Python Programming
    # Include total time estimate it took to complete the assignment = 6 hours

    import sys


    # main will first process the file and see if all arguments are accepted, if all argument are accepted it will then
    # open and read fom the file

    def main():
      # # TODO: Check len(sys.argv) and warn if missing arguments
      process_file()


    # will check the argument that were inputted in the system, if argument are accepted it will then try to open the file
    def process_file():

      search_text = "" # used to search for a word in a text file
      filename = "" # stores the text files directory


      # checks the arguments of the system
        try:
        # checks if the arguments that has been enterd are greater than 3, if so raise an error
          if len(sys.argv) > 3:
            raise IndexError

          # have the second and third argument enterd be the date to open and read from the file
          search_text = sys.argv[1]
          filename = sys.argv[2]

          # open and read from the file
          open_and_read_file(search_text,filename)


      # if the argument list has over 3 enterd arguments or less than 3 enterd arguments raise an error
      except IndexError:
          sys_argv = len(sys.argv) - 1
          print(f"Error, invaled index, expected 2 arguments, recived {sys_argv}")


    # checks if the entered date for the file is valid, if so then read from the text file
    # and search for instance of searched_text within the file

    def open_and_read_file(searched_text,file_name):
        # try to open file
        try:

        # use with open command to loop over each line of the file
        with open(file_name,"r") as file:
            for line in file:           # for each line in the file
                line = line.rstrip()    # strip the current line


                # if the entered word is within the current line, print the line to the console
                if searched_text in line:
                    print(line)


    # if the file cannot be opened raise an error,
    # this can happen if the text file directory has been enterd wrong
    except:
        print("cannot open file")


    if __name__ == '__main__':
      main()
    </pre>
  </artical>
  </details>
</div>

<div>
  <h3>Byte Calculator</h3>

    <p>
      This porgram is a simple byte calculator that uses a class to calculate
      the total amounts of bytes when a unit is created as well as defining what type of byte it is.
    </p>

    <details open>
      <pre>
        # class for calculating byte
        class Unit():

          # initial set up, gets power as a argument
          def __init__(self,p):

            self.power = p
            self.base = 8**p
            self.type = "N/A"

        # this gets the units btye tpye by by calculating it based off its power
        def get_type(self,):

            if self.power >= 12:
                self.type = "Tera Byte"

            elif self.power < 12 and self.power >=9:
                self.type = "Giga Byte"

            elif self.power < 9 and self.power >= 6:
                self.type = "Mega Byte"

            elif self.power < 6 and self.power >= 3:
                self.type = "Kilo Byte"

            else:
                self.type = "Byte"

      # test unit
      A = Unit(8)
      A.get_type()

      print(A.type)
      print(A.base)

      # based of test unit, results should be a mega byte with 16777216 btyes

      </pre>

    </details>
</div>
{% endblock MainContent %}



